@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

body {
    background-color: #FBF6EA;
    font-family: 'Preahvihear', sans-serif;
    margin: 0;
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}